[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
elasticsearch = {extras = ["async"], version = "*"}

[packages]
fastapi = {extras = ["all"], version = "*"}
gunicorn = "*"
opencv-contrib-python-headless = "*"
opencv-python-headless = "*"
pillow = "*"
pytesseract = "*"
dlib = "*"
numpy = "==1.19.2"
scikit-build = "*"
opencv-python = "*"
opencv-contrib-python = "*"
pydantic = {extras = ["dotenv"], version = "*"}
imutils = "*"

[requires]
python_version = "3.8"
